<h2>Login</h2>
{{#if error}}
<h3 style="color: red">Oops! There was an error...</h3>
{{/if}}
<form method="POST" action="">
	<div>
		<label for="username">
			Username:
		</label>
		<input type="text" name="username" value="">	
	</div>
	<div>
		<label for="password">
			Password:
		</label>
		<input type="text" name="password" value="">	
	</div>
	<input type="submit" value="login">	
</form>
