<h1>Login</h1>
<form method="POST" action="">
		<div>
				<label for="username">
						Username:
				</label>
				<input type="text" name="username" value="">	
		</div>
		<div>
				<label for="password">
						Password:
				</label>
				<input type="text" name="password" value="">	
		</div>
		<input type="submit" value="login">	
</form>
